@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <img src="~/Content/nav_back.png" style="width: 50%; margin-right: auto; margin-left: auto; " />
</div>
<div class="jumbotron">
    <h1 class="display-3">Collaboration</h1>
    <p class="lead">This website provides you an opportunity to develop new ideas working in teams. In this way everyone can change the world to best side. </p>
    <p><a href="/Home/ProjectList" class="btn btn-primary btn-lg">Getting Started&raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Innovative Ideas</h2>
        <p>
            Sure, collaboration is never easy. It generates as much friction as it does productive output. 
            But the silver lining of all that friction between conflicting personalities and work styles? 
            It generates dynamic, innovative ideas. And without those new and vibrant ideas, 
            your organization dies a mediocre death. Look at Yahoo! for an example of this.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Increased Profitability</h2>
        <p>
            And then of course, there's the bottom line. Collaboration improves it. 
            Because after recruiting all the superstar geniuses, and building a culture worthy of their skills,
            they get to work generating the innovative ideas that will propel you forward and that bring home the bacon.
            Everyone happy. Sounds too simplistic? Perhaps. But when Google For Work and Raconteur asked what changes would have 
            the greatest impact on their organization’s overall profitability, 56% of respondents ranked a 
            collaboration-related measure as the #1 factor.
            Read more: Collaboration is Good for Business (Raconteur)
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Improved Flexibility of the Organization</h2>
        <p>
            When collaboration improves, so too does the organization's ability to handle sudden change. Teamwork makes it easier to pivot when customer preferences change or disruptive technologies enter the scene.

            In fact, teamwork and collaboration are the foundations of work methodologies such as Agile and Scrum, which allow teams to be more flexible and responsive.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>